<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>studentDashboard</title>
    <%- include('shared/BspCssJqueryLinks') %>
    <link rel="stylesheet" href="/css/studentdashboard.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    
</head>
<body style="background-image:url('/images/bgimage.avif'); background-repeat: no-repeat; background-attachment: fixed; background-size: contain; width: 100%; height: 100%;" >
    <!-- <nav class="navbar navbarHomePage bg-body-tertiary ">
          <div class="container ">
              <h3>Welcome to student Dashboard</h3> 
              <div class="d-flex ">
                <div class="d-flex mx-2 ">
                
                <a class="btn btn-outline-danger " id="logout">Logout
                  <img src="/images/logout.png" alt="" width="25px" height="25px">
                </a>
              </div>
          </div>
    </nav> -->

    <% if(currentLoggedInStudentlogincount == 1){ %>
    <p>Login count: <%= currentLoggedInStudentlogincount %></p>
     <div class="container mt-2">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-lg-8 bg-white p-4  rounded shadow-sm">
          <div class="row justify-content-center">
            <div class="col-12 mb-1 text-center ">
                <h2 class="h6">1st Time loggedIn by <%=currentLoggedInStudentName%>, change your password to proceed ahead</h2>
                <!-- <h3 class="fs-6 fw-normal text-secondary m-0">Enter your details to Signup</h3> -->
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
                <div class="col-12 pb-3">
                    <label for="Username" class="form-label">Username </label>
                    <input type="text" class="form-control" name="username" id="Username" placeholder="type here">
                </div>
                <div class="col-12 pb-3">
                    <label for="enp" class="form-label">Enter New Password </label>
                    <input type="text" class="form-control" name="enp" id="enp" placeholder="type here">
                </div>      
                <div class="col-sm-12 mt-3">
                    <div class="d-grid">
                        <button type="submit" id="updatePasswordbtn" class="btn btn-primary" >Save changes</button>
                    </div>
                </div>                  
                </div>
            </div>
            <div class="row justify-content-center mt-2">          
                <div class="text-success text-center pt-2" id="SuccessMessage">

                </div>
                <div class="text-danger text-center"  id="ErrorMessage">

                </div>              
            </div>
          </div>
      </div>
    </div>
  </div>
    <% } else{ %>
        <nav class="navbar navbarHomePage bg-body-tertiary ">
          <div class="container ">
              <h3>Welcome to student Dashboard</h3> 
              <div class="d-flex ">
                <div class="d-flex mx-2 ">
                
                <a class="btn btn-outline-danger " id="logout">Logout
                  <img src="/images/logout.png" alt="" width="25px" height="25px">
                </a>
              </div>
          </div>
    </nav>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6" >
            <div class="contact-box center-version  border border-end-0 border-2  rounded rounded-5 shadow" style=" box-shadow: -5px 5px 5px rgb(199, 198, 198) !important;">
                <div class="x">
                    <img alt="image" class="img-circle" src="https://bootdey.com/img/Content/avatar/avatar1.png">
                    <h3 class="m-b-xs" id="tName"><strong><%= currentLoggedInStudentData.name %></strong></h3>

                    <div class="d-flex justify-content-center">
                        <label for="" class="pe-2"> userId : </label>
                        <div id="tuserId"> <%= currentLoggedInStudentData.userId %> </div>
                    </div>
                    
                    <div class="d-flex justify-content-center">
                        <label for="" class="pe-2"> Age: </label>
                        <div id="tAge"> <%= currentLoggedInStudentData.age %> </div>
                    </div>
                    
                    <div class="d-flex justify-content-center">
                        <label for="" class="pe-2"> Gender : </label>
                        <div id="tGender"> <%= currentLoggedInStudentData.gender %> </div>
                    </div>

                    <div class="d-flex justify-content-center">
                      <label for="" class="pe-2"> Grade : </label>
                      <div id="tGrade"> <%= currentLoggedInStudentData.grade %> </div>
                    </div>

                    <div class="d-flex justify-content-center">
                      <label for="" class="pe-2"> contactno : </label>
                      <div id="tContactno"> <%= currentLoggedInStudentData.contactno %> </div>
                    </div>

                    <div class="d-flex justify-content-center">
                      <label for="" class="pe-2"> email : </label>
                      <div id="tEmail"> <%= currentLoggedInStudentData.email %> </div>
                    </div>

                    <div class="d-flex justify-content-center">
                      <label for="" class="pe-2"> username : </label>
                      <div id="tUsername"> <%= currentLoggedInStudentData.username %> </div>
                    </div>

                    <div class="d-flex justify-content-center">
                      <label for="" class="pe-2"> password : </label>
                      <div id="tPassword"> <%= currentLoggedInStudentData.password %> </div>
                    </div>
                    
                    <div> createdAt : <%= currentLoggedInStudentData.createdAt.toISOString().split("T")[0] %></div>

                    <% if(currentLoggedInStudentData.updatedAt){ %>
                    <div class="d-flex justify-content-center">
                        <label for="" class="pe-2"> updatedAt : </label>
                        <div> <%= currentLoggedInStudentData.updatedAt.toISOString().split("T")[0] %> </div>
                    </div>
                    <% } else{ %>
                        <div class="d-flex justify-content-center">
                        <label for="" class="pe-2"> updatedAt : </label>
                        <div> <%= currentLoggedInStudentData.updatedAt %> </div>
                    </div>
                    <% } %>

                    <div class="d-flex justify-content-center">
                      <label for="" class="pe-2"> logincount : </label>
                      <div id="tlogincount"> <%= currentLoggedInStudentData.logincount %></div>
                    </div>
                    <div class="contact-box-footer">
                      <button type="button" class="edit btn btn-outline-primary" id="<%=currentLoggedInStudentData.userId%>" data-bs-toggle="modal" data-bs-target="#editModal">Edit
                        <img src="/images/user-info-writing.png" alt="" style="width: 20px; height: 20px;">
                      </button>
                    </div> 
                  </div>
                <!-- <div class="contact-box-footer">
                    <div class="m-t-xs btn-group">
                        <a class="btn btn-xs btn-white"><i class="fa fa-phone"></i> Call </a>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>
    <% } %>

    <!-- Edit Modal  -->
        <div class="modal fade" id="editModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Edit here </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-1">
                        <label class="form-label">Name</label>
                        <input type="text" class="form-control" id="editName" >
                    </div>
                    <div class="mb-1">
                        <label class="form-label">Age</label>
                        <input type="text" class="form-control" id="editAge" >
                    </div>
                    <div class="mb-3">
                      <label for="g">Gender</label><br>
                      <input type="radio" id="m" name="gender" value="Male">
                      <label for="m">Male</label><br>
                      <input type="radio" id="f" name="gender" value="Female">
                      <label for="f">Female</label><br>
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Grade</label>
                    <select name="Gender" id="grade-select">
                      <option value="">--Please choose an option--</option>
                      <option value="9th">9th</option>
                      <option value="10th">10th</option>
                      <option value="11th">11th</option>
                      <option value="12th">12th</option>
                    </select> 
                  </div>
                  <div class="mb-3">
                      <label class="form-label">Contact no</label>
                      <input type="text" class="form-control" id="editContactno">
                  </div>
                  <div class="mb-3">
                      <label class="form-label">Email</label>
                      <input type="text" class="form-control" id="editEmail"  >
                  </div>
                  <div class="mb-3">
                      <label class="form-label">Username</label>
                      <input type="text" class="form-control" id="editUsername">
                  </div>
                  <div class="mb-3">
                      <label class="form-label">Password</label>
                      <input type="text" class="form-control" id="editPassword">
                  </div>
                </div>
                <div class="modal-footer d-flex justify-content-center align-items-center">
                    <div class="text-success text-center" id="editSuccessMessage">

                    </div>
                    <div class="text-danger text-center pe-4" id="editErrorMessage">

                    </div>
                    <button id="editConfirm" type="button"  
                    >Edit</button>
                </div>
            </div>
        </div>
    </div>

    <!-- TOAST  -->
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-body main">
            
            </div>
        </div>
    </div>


    <%- include('shared/BspJsAxiosLinks') %>
    <!-- this.ejs js-file  -->
     <script src="studentdashboard.js"></script>
</body>
</html>